.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-item {
    margin: .75rem;
}

.login-banner-container {
    position: relative;
    width: 100%;
}

.login-banner{
    width: 100%;
    height: auto;
}

.login-form {
    position: absolute;
    left: 67%;
    top: 30%;
}

@media (min-device-width: 3840px) {
    #username, #password {
        height: 2rem;
        font-size: 2rem;
    }
}