* {
    font-family: sans-serif;
    color: #555;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e6e6e6;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1rem;
}

#nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    padding: 1rem 1rem 1rem;
}

.nav-link:hover {
    color: #111;
    background: #eee;
    border-radius: 25px;
}

.nav-container {
    flex: 1;
}

#header-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.sidebar {
    position: absolute;
    z-index: 9999;
    left: -300px;
    width: 300px;
    height: 100%;
    transition: .5s;
    background: #eee;
    border-radius: 10px;
}

.sidebar.active {
    left: 0;
}


.sidebar-link {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

.sidebar-link:hover {
    background: #ddd;
}

.menu-btn {
    display: none;
    padding: 12px;
    border-radius: 6px;
    background: white;
    border: 2px solid grey;
}

.menu-btn:hover {
    background-color: #e6e6e6;
}

.login-btn {
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #0275d8;
    border: none;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #025fb1;
}


@media (max-width: 1200px) {
    #nav-links {
      display: none;
    }

    .login-btn {
        display: none;
    }

    .menu-btn {
        display: block;
    }

}
