{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block more_styles %}{% endblock %}
</head>
<body>

<nav>
    <div class="nav-container">
        <a href=""><img height="80" src="{% static 'myJournalLogo.svg' %}" alt="logo"></a>
    </div>
    <div class="nav-container" id="nav-links">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'show_posts' %}">My Journal</a>
        <a class="nav-link" href="{% url 'addPost' %}">Write post</a>
        {% endif %}
        <a class="nav-link" href="#">About</a>
    </div>
    <div id='header-right' class="nav-container">
        {% if user.is_authenticated %}
        <a style="text-decoration: none; color: white;" class="login-btn" href="{% url 'logout' %}">Logout, {{ user.username }}?</a>
        {% else %}
        <a style="text-decoration: none; color: white;" class="login-btn" href="{% url 'login' %}">Login/Signup</a>
        {% endif %}
        <button class="menu-btn" onclick="toggleNav()"><img height='25px' src="{% static 'list.svg' %}" alt=""></button>
    </div>
</nav>

    <div class="sidebar" id="sidebar">
        <a class='sidebar-link' href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
    <a class='sidebar-link' href="{% url 'show_posts' %}">My Journal</a>
        <a class='sidebar-link' href="{% url 'addPost' %}">Write Post</a>
        {% endif %}
        <a class='sidebar-link' href="#">About</a>
        {% if user.is_authenticated %}
        <a class='sidebar-link' href="{% url 'login' %}">Logout, {{ user.username }}?</a>
        {% else %}
        <a class='sidebar-link' href="{% url 'login' %}">Login/Signup</a>
        {% endif %}
    </div>

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

{% block content %}
{% endblock %}



<script>
    function toggleNav() {
        document.getElementById('sidebar').classList.toggle('active');
    }

</script>

</body>
</html>


