{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<nav>
    <div class="nav-container">
        <a href=""><img height="80" src="{% static 'myJournalLogo.svg' %}" alt="logo"></a>
    </div>
    <div class="nav-container" id="nav-links">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'addPost' %}">Write post</a>
        <a class="nav-link" href="#">About</a>
    </div>
    <div id='header-right' class="nav-container">
        <button class="login-btn">Login</button>
        <button class="menu-btn" onclick="toggleNav()"><img height='25px' src="{% static 'list.svg' %}" alt=""></button>
    </div>
</nav>

    <div class="sidebar" id="sidebar">
        <a class='sidebar-link' href="{% url 'home' %}">Home</a>
        <a class='sidebar-link' href="{% url 'addPost' %}">Write Post</a>
        <a class='sidebar-link' href="#">About</a>
    </div>


{% block content %}
{% endblock %}



<script>
    function toggleNav() {
        document.getElementById('sidebar').classList.toggle('active');
    }

</script>

</body>
</html>


